doctype html
html(lang="en")
	head
		title= 'Foodsavour'
		meta(charset='utf-8')
		link(rel="stylesheet" href="css/style.css")
	body
		div.wrapper
			div.form-wrapper
				form
					//- Enter ingredients here
					label Wachoo got?
					input.ingredients(type='text' placeholder='comma seperate your stuff')
					
					//- Enter dietary restrictions
					label Whaddaya eat?
					select.diet
						option(selected) Everything
						option(value="388^Lacto vegetarian") Things without faces
						option(value="386^Vegan") Only Veggies
					
					//- Submit button
					input(type='submit' value="gimme stuff")
			
			//- Return recipes here
			div.recipes
				

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="js/scripts.js")





